*{
    margin: 0;
    padding: 0;
}

.pagina-de-click {
    background-image: url(./images/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -50px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botao-inicial {
    border: 5px solid #ffffff;
    border-radius: 30px;
    padding: 20px 60px;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    background-color: #ff00ff;
    animation: disco 0.3s infinite;
}
@keyframes disco {
    0% { background-color: #ff00ff; }
    25% {background-color: #00FF00; }
    50% { background-color: #00ffff; } 
    75% {background-color: #FFFF00; }
    100% { background-color: #ff00ff; } 
}

.feliz-aniversario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./images/background2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 110vw;
    height: 110vh;
}

.img-windows {
    width: 70px;
    position: absolute;
    left: 1%;
    top: 1%;
}

.img-lixo {
    width: 60px;
    position: absolute;
    right: 1%;
    bottom: 2%;
}

.img-dinosauro {
    width: 200px;
    position: absolute;
    left: 15%;
    bottom: -1%;
}

.img-baloesA {
    width: 80vw;
    position: absolute;
    right: 16%;
    top: 5%;

}

.img-sapo {
    width: 150px;
    position: absolute;
    right: -2%;
    bottom: 13%;
}

.balao-coracao {
    width: 80px;
    position: absolute;
    left: 2%;
    bottom: 1%;
}

.rosquinha {
    width: 70px;
    position: absolute;
    right: 2%;
    top: 4%;
}
.bolo {
    width: 200px;
    position: absolute;
    left: 25%;
    bottom: 25%;
}

.desoito{
    width: 100px;
    position: absolute;
    left: 2%;
    bottom: 30%;
}

.carregando-img {
    width: 200px;
    position: absolute;
    left: 28%;
    top: 40%;
}

@media screen and (min-width: 600px) {

    .pagina-de-click {
        background-image: url(./images/fotos\ tumblr\ -\ Buscar\ con\ Google.gif);
        background-repeat: no-repeat;
        background-size: cover;
        width: 110vw;
        height: 110vh;
    }

    .img-windows {
        width: 110px;
        position: absolute;
        left: 3%;
        top: 3%;
    }

    .img-lixo {
        width: 100px;
        position: absolute;
        right: 3%;
        bottom: 5%;
    }

    .img-dinosauro {
        width: 350px;
        position: absolute;
        left: 10%;
        bottom: 2%;
    }

    .img-baloesA {
        width: 50vw;
        position: absolute;
        right: 25%;
        top: -10%;
    }

    .img-sapo {
        width: 250px;
        position: absolute;
        right: 5%;
        bottom: 30%;
    }

    .balao-coracao {
        width: 100px;
        position: absolute;
        left: 2%;
        bottom: 1%;
    }

    .rosquinha {
        width: 100px;
        position: absolute;
        right: 4%;
        top: 2%;
    }
    .bolo {
        width: 300px;
        position: absolute;
        left: 40%;
        bottom: 10%;
    }

    .desoito{
        width: 150px;
        position: absolute;
        left: 2%;
        bottom: 38%;
    }

    .carregando-img {
        width: 400px;
        position: absolute;
        left: 40%;
        top: 40%;
    }
}